body {
  text-align: center;
  background-color: #011F3F;
}

.start {
  text-align: center;
  height: 50px;
  width: 120px;
  margin: 20px 0 30px 0;
}

.img {
  width: 300px;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.top {
  text-align: center;
}

.middle {
  font-size: 1.2rem;
  padding: 20px 70px 20px 70px;;
  text-align: left;
}

.bottom {
  text-align: center;

}


#pgtitle {
  text-align: center;
}


#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.bcontainer {
  display: block;
  width: 50%;
  margin: auto;

}

.btns {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.copyright {
   font-family: 'Press Start 2P', cursive;
   color: white;

}

@media (max-width: 900px) {
  .btns {
    margin: 15px;
    display: inline-block;
    height: 130px;
    width: 130px;
    border: 10px solid black;
    border-radius: 20%;
  }
  .start {
    text-align: center;
    height: 50px;
    width: 80px;
    margin: 20px 0 30px 0;
  }
}

@media (max-width: 650px) {
  .btns {
    margin: 10px;
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 8px solid black;
    border-radius: 20%;
  }
  .start {
    text-align: center;
    height: 50px;
    width: 80px;
    margin: 20px 0 30px 0;
  }
}
